{% load static from staticfiles %}
<html>
    <head>
    <meta charset="utf-8">
    <title>Base</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'loginapp/css/style.css' %}"/>

  <body background="{% static "loginapp/images/image.jpg" %}" alt="My image">
     <div class="navbar">

{# Django Home Link / Admin Link / Register Link#}
         <a class="navbar-brand" href="{% url 'home' %}">MyApp</a>
          <a class="navbar-link" href="{% url 'admin:index' %}">Admin</a>
          <a class="navbar-link" href="{% url 'Users:register' %}">
              <span class="glyphicon glyphicon-user"></span> Register</a>
          <a target="_blank" href="{% url 'api_docs' %}">API Docs</a>

          {# Some logic on what to display for last item#}
          {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">Logout</a>
            <a href="{% url 'enter' %}">Enter  </a>
          {% else %}
            <a class="navbar-link" href="{% url 'Users:user_login' %}">
                <span class="glyphicon glyphicon-log-in"></span>  Login </a>
            <a class="navbar-link" href="{% url 'password_reset' %}">ResetPassword</a>
          {% endif %}
      </div>
    <div class="container">
    {% block body_block %}
    {% endblock %}
    </div>
    </body>
</html>