{% extends 'Users/base.html' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
        <ul>
            <a href="{% url 'Users:labels_new'  %}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;Add Labels</a></li><br><hr>
          {% for labels in object_list %}
            <p><b><i>Labels: {{ labels.text }}</i></b></p>
          <a href="{% url 'Users:labels_delete' labels.id %}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>&nbsp;Remove Labels</a>&nbsp;
         <a href="{% url 'Users:labels_edit' labels.id %}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>&nbsp;Edit Labels</a><hr>

          {% endfor %}
        </ul>

</div>
 </div>
  </div>
</div>
</div>

{% endblock %}